<form action="/Images/UploadImage" enctype="multipart/form-data" method="post" id="upload-image-form">
    <input type="file" name="files" />
    <button hidden id="upload-image-submit-button">post</button>
</form>
