@model Portal.Models.Issue

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Location.Latitude"></label>
                <input asp-for="Location.Latitude" class="form-control" id="register-latitude-input" />
                <span asp-validation-for="Location.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Location.Longitude"></label>
                <input asp-for="Location.Longitude" class="form-control" id="register-longitude-input" />
                <span asp-validation-for="Location.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-6" >
        <div id="issue-edit-map" style="height:500px"></div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/issueEdit.js" asp-append-version="true"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfEImrPrDRb-12UFkgRegFVSKekIAJmh8&callback=initMap">
    </script>


}


